@reference "../../../../styles/index.css";


.form-inputs {
    @apply bg-rgba-light border border-dark-grey rounded-lg text-sm p-[0.7rem] w-auto;
}

.form-label {
    @apply flex flex-col text-sm gap-0.5;
}