@reference "../../../../styles/index.css";

.header-home {
    @apply bg-home bg-fixed bg-cover bg-center min-h-full;
}

.header-home:after {
    @apply content-[""] fixed inset-0 z-0 bg-overlay-gradient bg-size-[100%_150%] animate-[move-overlay_5s_ease-in-out_infinite];
}

h2 {
    @apply font-anton text-lg mb-0.5;
}

.right-arrow {
    @apply mt-1.5 hidden md:block md:-mx-3 relative z-10;
}