@import "tailwindcss";

@theme {
    --spacing: 1rem;
    --color-dark: #1e1e1e;
    --color-light: #dddddd;
    --color-grey: #333333;
    --color-violet: rgb(100, 69, 255);
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}