@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --spacing: 1rem;
    --font-anton: 'Anton', sans-serif;
    --color-dark: #1e1e1e;
    --color-light: #f4f4f4;
    --color-grey: #e9e9e9;
    --color-teel: #4f766c;
    --color-light-grey: #d6d6d6;
    --color-dark-grey: #333333;
    --color-rgba-light: rgba(255, 255, 255, 0.2);
    --background-image-rgba-gradient: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(120, 170, 210, 0.1), rgba(224, 170, 110, 0.1), rgba(100, 140, 130, 0.2), rgba(255, 255, 255, 0.6));
}

body {
    background-color: var(--color-grey);
    color: var(--color-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: 'Raleway', sans-serif;

    * {
        transition: color 0.4s, background 0.4s;
    }
}

@keyframes subtle-shadow-wave {

    0%,
    100% {
        box-shadow: 0 0 8px rgba(79, 118, 108, 0.2),
            0 0 12px rgba(180, 162, 228, 0.2),
            0 0 16px rgba(224, 187, 142, 0.2);
    }

    50% {
        box-shadow: 0 0 12px rgba(79, 118, 108, 0.4),
            0 0 18px rgba(180, 162, 228, 0.4),
            0 0 24px rgba(224, 187, 142, 0.4);
    }
}

@keyframes move-overlay {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}