@import "tailwindcss";

@theme {
    --color-dark: #1e1e1e;
    --color-light: #dddddd;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}